body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.favButton{
  background-color: rgba(136, 136, 136, 0.719);
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  width: 100%;
  cursor: pointer;
  transition: transform 0.2s;
}

h1{
  text-align: center;
}

nav{
  display: flex;
  height: 5vh;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #ecebeb;
}

nav div {
  display: flex;
  justify-content: space-between;
  
}

nav h4 {
  font-size: 1.5rem;
}

nav a {
  margin: 20px;
}

.themeButton {
  background-color: #000;
  border-radius: 5pt;
  cursor: pointer;
  width: 50px;
  height: 50px;
  transition: transform 0.2s;
  margin-right: 10px;
}

.themeButton:active, .favButton:active {
  transform: scale(0.85);
}

.fas.fa-moon, .fas.fa-star {
  border-color: #000;
  color: rgb(255, 255, 66);
}

a{
  color: #000;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
}
a:hover{
  color: rgb(136, 136, 136);
} 

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
  position: relative;
  width: 90%;
  height: 40px;
  margin-top: 2rem;
  bottom: 0;
  width: 100%;
}

.footerHome {
  background-color: rgb(194, 21, 21);
  font-size: 1.5rem;
  height: 50px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2% 0;
}

.footerLink {
  margin: 0;
  color: white;
}

footer a {
  max-width: 30%;
}

footer .icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 20%;
}

.icons a {
  width: 6%;
}

.icon {
  filter: brightness(0);
}

form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 100px;
  margin: 0 auto;
}

.card{
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 200px;
  padding: 0.5rem 0.5rem 0 0.5rem;
  border: 0.5px solid rgb(136, 136, 136);
}

.card:hover{
  border: 0.5px solid rgb(206, 217, 142);
}

.card-grid{
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  width: 90vw;
  height: auto;
  flex-wrap: wrap;
  margin: 0 auto;
}

table {
 border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
    border: 1px solid #ccc;

}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.dark{
  background-color: #12121296;
  color: white;
}
.dark > a {
  color: white;
}

 img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p {
  font-size: 1.2rem;
  font-weight: bold;
}
